@import "tailwindcss";

@layer base {
  :root {
    --background: #fafafa;
    --foreground: #09090b;

    --card: #ffffff;
    --card-foreground: #09090b;

    --popover: #ffffff;
    --popover-foreground: #09090b;

    --primary: #115e59;
    --primary-foreground: #fafafa;

    --secondary: #f4f4f5;
    --secondary-foreground: #18181b;

    --muted: #f4f4f5;
    --muted-foreground: #71717a;

    --accent: #14b8a6;
    --accent-foreground: #18181b;

    --destructive: #ef4444;
    --destructive-foreground: #fafafa;

    --border: #e4e4e7;
    --input: #e4e4e7;
    --ring: #18181b;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    border-color: var(--border);
  }
  body {
    background: linear-gradient(135deg, rgba(235, 248, 241, 1) 0%, rgba(253, 253, 249, 1) 50%, rgba(255, 243, 230, 1) 100%);
    color: var(--foreground);
    font-family: 'Inter', system-ui, sans-serif;
    min-height: 100vh;
  }
}